---
import LinkInline from "./LinkInline.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-gray-300 dark:before:border-gray-700 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4] group hover:before:border-blue-400 dark:hover:before:border-blue-600 transition-all duration-300"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-24">
      <span
        class="text-blue-500 dark:text-blue-400 -left-[42px] absolute rounded-full text-5xl transition-transform duration-300 group-hover:scale-125"
        >&bull;</span
      >

      <h3
        class="text-xl font-bold text-gray-900 dark:text-white mb-1 group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-colors duration-300"
      >
        {title}
      </h3>
      <h4 class="font-semibold text-lg text-gray-700 dark:text-gray-300 mb-1">
        {company}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-500 dark:text-gray-400 font-medium"
        >{date}</time
      >
    </div>
  </div>
  <div
    class="relative flex flex-col gap-3 pb-4 text-gray-700 dark:text-gray-300 md:col-span-3 leading-relaxed"
  >
    {description}
    {
      link && (
        <LinkInline href={link}>
          Saber más{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right inline-block transition-transform group-hover:translate-x-1"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      )
    }
  </div>
</div>
